.relation-add,
.add-more-files {
    font-size: 28px;
}
.add-more-files {
    margin-left: 130px;
}

.buffer {
    display: none;
}

.trash {
    color: #dc3545;
}
.trash:hover {
    color: #c82333;
}
.pagination {
	justify-content: center;
}

.container {
	padding-top: 30px;
}
.alert {
	margin-bottom: 30px;
}
.collapse {
	display: flex;
	justify-content: space-between;
}

.logout {
	font-size: 25px;
}